<h3>Welcome to Pizza Shop</h3>
<div class="row">
<% @products.each do |p|%>
<div class="col-md-4">
    <p><%= p.title%></p>
    <p><%= p.description%></p>
    <p>Price:<%= p.price%></p>
    <p>Size:<%= p.size%></p>
    <p><img src="<%= p.path_to_image%> "/> </p>
    <br/>
    <button  onclick="addToCart(<%= p.id%>) " class="btn btn-primary " >Add to cart</button>

</div>

<% end %>
</div>

<%# <button onclick="something()" class="btn btn-primary " >Click </button> %>